apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apps
  namespace: ops
spec:
  generators:
    - matrix:
        generators:
          - clusters:
              selector:
                matchLabels:
                  argocd.argoproj.io/secret-type: cluster
          - git:
              repoURL: https://github.com/philippeVV/argocd-appset.git
              revision: HEAD
              directories:
              - path: 'tenants/**/*'
  template:
    metadata:
      name: '{{name}}-{{path.basename}}' # 'name' field of the Secret
    spec:
      project: "default"
      source:
        chart: nginx-helmchart
        repoURL: https://github.com/philippeVV/nginx-helmchart
        targetRevision: HEAD
        path: '{{path}}'
        helm:
          valueFiles:
            - '{{name}}.yaml'


      destination:
        server: '{{server}}' # 'server' field of the secret
        namespace: '{{path[1]}}'
