apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apps
  namespace: ops
spec:
  generators:
    - matrix:
        generators:
          - clusters:
              selector:
                matchLabels:
                  argocd.argoproj.io/secret-type: cluster
          - git:
              repoURL: https://github.com/philippeVV/argocd-appset.git
              revision: HEAD
              files:
              - path: "tenants/**/*.yaml"
  template:
    metadata:
      name: '{{name}}-{{path.filename}}' # 'name' field of the Secret
    spec:
      project: "default"
      source:
        repoURL: https://github.com/philippeVV/argocd-appset
        targetRevision: HEAD
        path: '{{path}}'
      destination:
        server: '{{server}}' # 'server' field of the secret
        namespace: '{{path[1]}}'
