apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apps
  namespace: ops
spec:
  generators:
    - matrix:
        generators:
          - list:
            elements:
            - cluster-name: dev
              env-fileName: dev
            - cluster-name: staging
              env-fileName: staging
            - cluster-name: production
              env-fileName: production
          - matrix:
              generators:
                - clusters:
                    selector:
                      matchLabels:
                        env: '{{cluster-name}}'
                - git:
                    repoURL: https://github.com/philippeVV/argocd-appset.git
                    revision: HEAD
                    files:
                    - path: 'tenants/**/{{env-fileName}}.yaml'
  template:
    metadata:
      name: '{{name}}-{{path.basename}}' # 'name' field of the Secret
    spec:
      project: "default"
      source:
        repoURL: '{{app.chart}}'
        path: './chart/'
        targetRevision: '{{app.chart_version}}''
      destination:
        server: '{{server}}' # 'server' field of the secret
        namespace: '{{path[1]}}'
      syncPolicy:
        automated:
          prune: true
