apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apps
  namespace: ops
spec:
  generators:
    - matrix:
        generators:
          - clusters:
              selector:
                matchLabels:
                  env: dev
          - git:
              repoURL: https://github.com/philippeVV/argocd-appset.git
              revision: HEAD
              files:
              - path: 'tenants/**/dev.yaml'
  template:
    metadata:
      name: '{{name}}-{{path.basename}}' # 'name' field of the Secret
    spec:
      project: "default"
      source:
        repoURL: https://github.dev/philippeVV/nginx-helmchart
        path: './'
        targetRevision: 'main'
      destination:
        server: '{{server}}' # 'server' field of the secret
        namespace: '{{path[1]}}'
      syncPolicy:
        automated:
          prune: true
